.calculator {
  margin: 50px auto;
  width: 300px;
  height: 500px;
  border-radius: 20px;

  font-family: 'Courier New', Courier, monospace;
  padding: 18px;
  box-shadow: 5px 8px 5px #6c757d;

  background-color: #001219;
}

.display {
  display: grid;
  justify-items: end;
  align-items: end;
}

#userInput {
  font-size: 3em;
  width: 300px;
  border: none;
  height: 100px;
  color: #0f0f0f;
  background-color: #f9a620;
  
}

.btns {
  display: grid;
  grid-template-areas:
    'clear erase dot division'
    'seven eight nine multiplication'
    'four five six minus'
    'one two three plus'
    'parenthesis1 parenthesis2 zero equal';
  grid-gap: 7px;
  justify-items: center;
  margin-left: 4px;
}



.input_button,
#erase,
#equal,
#clear {
  width: 60px;
  background-color: #fb8500;
  border-radius: 50%;
  text-align: center;
  line-height: 55px;
  font-size: 1.5rem;
  cursor: pointer;
  user-select: none;
  border: none;
  margin: 3px;
}



.btns input:hover {
  filter: brightness(140%);
}

button {
  background-color: transparent;
  border: none;
  margin-top: 30px;
}

.input_button.minus,
.plus,
.multiplication,
.division,
#equal {
  background-color: #6c757d;
}

#clear,
#erase,
.input_button.dot

{
  background-color: #adb5bd;
}

@media (max-width:370px) {
  .calculator{
 
    width: 250px;
    height: 420px;
  }
  
  #userInput {
    font-size: 2em;
    width: 250px;
    border: none;
    height: 80px;
  }
  .input_button,
  #erase,
  #equal,
  #clear {
    width: 50px;
   line-height: 45px;
    font-size: 1.3rem;
   
  }

}


@media (max-width:300px) {
  .calculator{
 
    width: 200px;
    height: 350px;
  }
  
  #userInput {
    font-size: 1.5em;
    width: 200px;
    border: none;
    height: 70px;
  }
  .input_button,
  #erase,
  #equal,
  #clear {
    width: 40px;
   line-height: 35px;
    font-size: 1rem;
   margin-left: 0.1px;
  }

}